* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}

.main-container {
    display: flex;
    padding: 20px;
    background-color: #f4f4f8;
}

.sidebar {
    width: 260px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    position: fixed;
    top: 100px;
    left: 20px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.sidebar h3 .icon,
.add-document .icon {
    width: 20px;
    margin-right: 8px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.add-document {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 16px;
    color: #007bff;
    background: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.document-content {
    margin-left: 300px;
    flex: 1;
    padding: 20px;
}

.document-detail {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.document-image {
    width: 275px;
    border-radius: 8px;
    padding-right: 25px;
}

.document-info h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.document-info p {
    font-size: 18px;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.document-info p strong {
    margin-right: 10px;
}

.edit-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.editable[contenteditable="true"] {
    border: 1px solid #007bff;
    padding: 2px;
    background-color: #f9f9f9;
}


.document-summary {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.document-summary h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.document-summary p, .document-summary li {
    padding-bottom: 10px;
}

.document-summary ul {
    list-style-position: inside;
    padding-left: 15px;
}
